---
layout: default
title: Royal Dunkeld Hotel
meta_description: Beautiful, old fashioned hotel situated in the picturesque town of Dunkeld. Offering unique dining experiences, great rooms and perfect location of your getaway.
current: home
dark-logo: false
---
<div id="home">
  <div class="hero hero--home pt-7 pb-4">
    {% include hero-content.html %}
  </div>
  <div class='container'>
    <div class="row">
      <!-- Main content -->
      <div class="main-content col-md-8 py-4">
        <div class="our-hotel">
          <div class="container">
            <div class="row">
              <div class="col-md-12 our-hotel__heading">
                <h2>Our hotel</h2>
                <hr>
              </div>
              <div class="our-hotel__body col-md-6">
                <p>We pride ourselves on our ability to cater for everyone. We have comfortable, cosy rooms for families, couples and individuals. If you are joining us as a backpacker or as part of a stag party, then we have alternative options that might
                  suit. Our Annexe, for example, provides you with comfortable rooms at very affordable prices in a separate building. We recently converted to eco-friendly, green energy with our very own biomass boilers!</p>
              </div>
              <div class="our-hotel__image col-md-6">
                <img src="/Royal/assets/images/royalhead.png" alt="Royal Dunkeld Hotel">
              </div>
            </div>
          </div>
        </div>
        <div class="dine-in">
          <div class="container">
            <div class="row">
              <div class=" col-md-12 dine-in__heading">
                <h2>Dine in</h2>
                <hr>
              </div>
              <div class="dine-in__body col-md-6">
                <p>Grab a bite to eat at our unique "Woodlands Bistro". You couldn't feel more relaxed whilst eating stunning food freshly prepared whilst contemplating our wonderful wooden hand carved woodland animals which decorate our cosy room.</p>
              </div>
              <div class="dine-in__image col-md-6">
                <img src="/Royal/assets/images/dining1.jpg" alt="Restaurant Dunkeld">
              </div>
            </div>
          </div>
        </div>
        <div class="dunkeld">
          <div class="container">
            <div class="row">
              <div class=" col-md-12 dunkeld__heading">
                <h2>Welcome to Dunkeld</h2>
                <hr>
              </div>
              <div class="dunkeld__body col-md-6">
                <p>Set in the picturesque town of Dunkeld, often known as "The Gateway to the Highlands", you'll never be bored with endless walks, cycle trails, golf courses, whisky distilleries and some of the finest shooting and fishing locations to be
                  found in Scotland.</p>
              </div>
              <div class="dunkeld__image col-md-6">
                <img src="/Royal/assets/images/dunkeld.jpg" alt="Dunkeld">
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Sidebar -->
      {% include sidebar.html %}
    </div>
  </div>
</div>
