<footer class="footer col-md-12">
  <div class="container">
    <div class="row">
      <div class="footer__content iconsBottom col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
        <a href="tel:01350727322"><i class="fa fa-fw fa-phone icons-bottom"></i></a>
        <a href="mailto:reservations@royaldunkeld.co.uk"><i class="fa fa-fw fa-envelope icons-bottom"></i></a>
        <a href="https://www.facebook.com/Royal-Dunkeld-Hotel-126676517384781/" target="_blank"><i class="fa fa-fw fa-facebook icons-bottom"></i></a>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12 footer__bottom text-center">
        <p>Copyright &copy; Royal Dunkeld Hotel - All rights reserved</p>
        <p>Website Design by <a href="http://www.elisweb.co.uk" target="_blank">Eli's Web</a></p>
      </div>
    </div>
  </div>
</footer>
