<nav class="navbar navbar-expand-lg fixed-top">
  <div class="container">
    <a class="navbar-brand" href="/Royal/"><img src="/Royal/assets/images/brand.png" alt="Royal Dunkeld Hotel small logo"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
  <i class="fa fa-bars"></i>
</button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/Royal/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/Royal/rooms">Rooms &amp; rates</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/Royal/dining">Dining</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/Royal/what-to-do-in-dunkeld">What to do</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/Royal/events">Events</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/Royal/contact">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
