<nav class="navbar navbar-expand-lg fixed-top">
  <div class="container">
    <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
  <i class="fa fa-bars"></i>
</button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mx-auto">
        <li class="nav-item active">
          <a class="nav-link" href="{{ site:baseurl }}">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ site:baseurl }}/rooms">Rooms &amp; rates</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ site:baseurl }}/dining">Dining</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ site:baseurl }}/what-to-do-in-dunkeld">What to do</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ site:baseurl }}/events">Events</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ site:baseurl }}/contact">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
