<div class="container">
  <div class="row">
    <div class="brand-logo col-sm-12">
      {% if page.dark-logo %}
      <img src="{{ site.baseurl }}/assets/images/logo.png" alt="Royal Dunkeld Hotel & Woodlands Bistro">
      {% else %}
      <img src="{{ site.baseurl }}/assets/images/logo-alt.png" alt="Royal Dunkeld Hotel & Woodlands Bistro">
      {% endif %}
    </div>
    <div class="booking-form col-sm-12 offset-sm-0 col-md-10 offset-md-1 col-lg-8 offset-lg-2">
      <form action="https://portal.freetobook.com/widget-redir?w_id=32434&amp;w_tkn=kmeWccz87CilTjlOGiTwAmpD6GbeQfkohkqleRoZw9iJjpDavT7EFs7rbMhJt" method="POST" name="f2b_search_form">
        <input name="referrer" type="hidden" value="http://royaldunkeld.co.uk/">
        <input name="checkIn" id="checkIn" type="hidden" value>
        <div class="d-flex flex-form">
          <div class="form-group">
            <div class="input-group date" id="datetimepicker" data-target-input="nearest">
              <input type="text" class="form-control datetimepicker-input" data-target="#datetimepicker" id="checkInDisplay" />
              <div class="input-group-append" data-target="#datetimepicker" data-toggle="datetimepicker">
                <div class="input-group-text">
                  <i class="fa fa-calendar"></i>
                </div>
              </div>
            </div>
          </div>
          <select id="stayLength" name="stayLength" value="1">
            <option value="">Nights</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
          </select>
          <input type="submit" name="submit" id="submit" value="Book now" />
        </div>
      </form>
    </div>
  </div>
</div>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-sm-8 col-md-6 col-lg-5">
      <div class="promo">
        <h5>Use code <span class="code">DIRECT10</span> to get 10% off when you book direct!</h5>
      </div>
    </div>
  </div>
</div>
