body {
  font-family: 'Montserrat', Helvetica, verdana, system;
  background: #fafafa;
  overflow-x: hidden;
  p {
    font-size: 14px;
    line-height:24px;
    font-family: 'Montserrat', Helvetica, verdana, system;
    &.footnote {
      font-size:12px;
    }
  }
  a {
    color: $gold;
    &:hover {
      color: $purple;
    }
  }
  h1,h2,h3,h4,h5,h6 {
    font-family: 'Gabriela', 'Montserrat', Helvetica, verdana, system;
    color: $purple;
  }
  hr {
    height: 2px;
    border-color: $gold;
    background: $gold;
    max-width:50%;
  }
}

.to-dobody, .eventsbody, .diningbody, .roomsbody {
  &__intro {
    padding-top: 12px;
    padding-bottom: 12px;
    @include media-breakpoint-up(md) {
      padding: 24px 0;
    }
  }
  &__cards {
    .card {
      margin-bottom:24px;
      .sleeps-text {
        color:#909090;
        font-size:12px;
        margin-top: 0;
      }
      a.card-footer {
        background-color: $purple;
        color: $white!important;
        text-decoration: none;
        text-align: center;
        font-size: 14px;
        &:hover {
          background-color: $gold;
        }
      }
    }
  }
}
