nav.navbar {
  background: #000;
  .navbar-brand {
    img {
      width:100px;
    }
  }
  .navbar-toggler {
    background:#eee;
    color:#333333;
  }
  ul {
    li {
      a.nav-link {
        color: $white;
        font-weight:700;
      }
    }
  }
}
